.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-date {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 20px;
    height: 20px;
}

.btn-complete,
.btn-edit,
.btn-del,
.btn-date {
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    transition: all ease 0.3s;
}

.btn-del:hover,
.btn-del:active,
.btn-edit:hover,
.btn-edit:active,
.btn-complete:hover,
.btn-complete:active,
.btn-date:hover,
.btn-date:active {
    transform: scale(1.5);
}

@media (max-width: 530px) {
    .wrap-btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
    }
}
