button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #5271ff;
    border-radius: 100px;
    padding: 0.6rem;
    font-size: 1.8rem;
}

button:hover {
    cursor: pointer;
}
