.wrap-list {
    width: 90%;
    max-height: 450px;
    overflow: auto;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fd7e14;

    font-weight: 600;
    font-size: 1.8rem;
    cursor: text;

    padding: 0.6rem 1.2rem;
    min-height: 45px;
    border-radius: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.conclusion-date {
    font-size: 1.2rem;
    font-weight: 600;
}

.list-item--complete {
    text-decoration: line-through;
}

.late {
    color: red;
}

/* SCROLL BAR STYLE */
::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 530px) {
    .list-item {
        font-size: 1.6rem;
    }

    .wrap-task-description {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
}
