.wrap-list {
    width: 90%;
    max-height: 400px;
    overflow: auto;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fd7e14;

    font-weight: 700;
    font-size: 1.8rem;
    cursor: text;

    padding: 0.6rem 1.2rem;
    min-height: 45px;
    border-radius: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-details {
    font-size: 1.2rem;
    font-weight: 700;
}

.list-item--complete {
    text-decoration: line-through;
}

/* SCROLL BAR STYLE */
::-webkit-scrollbar {
    width: 0px;
}
