/* 
Background Color: #1c1f33
Font Color: #666370
Button Color: #d33e43
Other Colors: #9b7874, #FF220C
*/

/* OTHER PALLETE IDEA:
--granny-smith-apple: #b9ffb7ff;
--magic-mint: #abedc6ff;
--middle-blue-green: #98d9c2ff;
--deep-saffron: #f19a3eff;
--black-coffee: #403233ff;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #343a40;
    color: #111;
}
